<div>
  <h1 class="display-6">Take Operator</h1>
  <hr />
  <div class="row">
    <div class="col-12">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Randon Name: </strong> "Narendra Maurya", "Shraddha Maurya",
        "Tanya Maurya", "JP Maurya", "Arti Devi", "Praveen Maurya"
      </p>
    </div>
    <div class="col-md-4">
      <strong>Ex - 01 | Take 5</strong>
      <hr />
      <ul class="list-group" id="el-container-1"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02 | TakeLast 5</strong>
      <hr />
      <ul class="list-group" id="el-container-2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03 | Take Until </strong>
      <hr />
      <ul class="list-group" id="el-container-3"></ul>
    </div>
  </div>
</div>
