/* You can add global styles to this file, and also import other style files */
.card {
  border-radius: 0px !important;
}

.btn {
  border-radius: 0px !important;
}

ul.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  li {
    display: flex;
    width: 200px;
    height: 100px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
    margin: auto 15px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    a {
      text-decoration: none;
    }
  }
}

ul.tech-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 7px 13px;
    margin-bottom: 10px;
  }
}

ul.tech-list.error {
  li {
    color: red;
    background-color: rgba(red, 0.2);
    border-color: rgba(red, 0.8);
  }
}

ul.tech-list.completed {
  li {
    color: green;
    background-color: rgba(green, 0.2);
    border-color: rgba(green, 0.8);
  }
}
